@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');

*{
  cursor:default;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

.scroll, .title, .main {
  max-width: 100vw;
  height:100vh;
}

nav{
  display: flex; 
  height:50px;
  width:100%;
  margin-top:10px;
  justify-content:center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  align-self:start;
}

a{
  margin: 5px 5% 0;
  color: #193441;
  text-decoration:none;
  display: inline-block;
  position: relative;
  opacity:0.5;
  transition: all 0.25s ease-out;
  cursor:pointer;
}

a:hover{
  opacity:1;
  font-size: large;
}

.scroll{
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.snap{
  scroll-snap-align: center;
  display:flex;
}

.title {
  background-color: #D1DBBD;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow:hidden;
}

.tit{
  margin-top:14vh;
  color: #193441;
  font-size: 9.3em;
  font-family: 'Playfair Display', serif;
}

.fa-arrow-down{
  color: #193441;
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    margin-top: auto;
    margin-bottom: 30px;
  }
  50% {
     margin-top: auto;
    margin-bottom: 20px;
  }
}
