@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.main{
  background-color: #193441;
  display:flex;
  overflow:hidden;
}

.info{
  display: flex;
  align-items: center;
  padding:50px;
  color: #D1DBBD;
  font-size: 1.27em;
  line-height: 1.62em;
  width:45%;
  font-family: "Montserrat", sans-serif;
}

.guessGame{
  width:48%;
  margin-left:30px;
  display:flex;
  align-items: center;
  margin-top: -20px;
}

.stuff{
  border-radius: 15px;
  margin-right: 40px;
  background: #D1DBBD;
  color: #193441;
  padding:50px;
}

.guessGame .tit {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2em;
  margin-top:-10px;
  margin-bottom: 40px;
}

.ques, .ans{
  display:inline;
}

.guessGame .ques, .ans{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}


.guessGame form{
  margin:12px;
}

.ans{
  border:none;
  border-bottom: 2px solid #193441;
  background:none;
  width:90px;
  text-align:center;
}

.rev {
  margin-left:2px;
  margin-top:10px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}










