@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#D1DBBD 50%, ##193441 50%);
}
.header {
  font-family: 'Playfair Display', serif;
  text-align: center;
}
form {
  margin: 5%;
  padding: 5%;
  background-color: #f8f9f9;
  border-radius: 20px;
}